
 /* Style the tab */
 body{
   background-color:rgb(51, 51, 51);
   
 }
 
 .header{
   background-color:  rgb(41, 214, 18);
   height: 100px;
   width:auto;
 }
 .container{
    margin:  0px 150px;
    background-color: rgb(128, 128, 128);
    width:1000px;
    height:500px;
    
    
 }
 
 .tab {
  overflow: hidden;
  
}

/* Style the buttons inside the tab */
.tab button {
  
  float: left;
  background: black;
  outline: none;
  cursor: pointer;
  padding: 20px;
  transition: 0.3s;
  font-size: 14px;
  margin: 20px -150px 0px 150px;
  color:rgb(255, 255, 255);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
 
  
  
}

/* Change background color of buttons on hover */

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 6px;
  border-top: none;
}
 
.tablinks{
  padding: 8px 8px;
 
  margin: 0 5px;
  background-color: black;
  
}


#TacticalTable{
 height:700px ;
  width: 900px;
 
}

.event{
  background-color: green;
  padding: 14px 16px;
}


/* all about media*/

#wrapper{
  position: relative;
  height:100px;
  background: rgb(41, 214, 18);
  border:solid;

}

#defaultBar{
  position:absolute;
  width:840px;
  background-color: black;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 5px;
  margin:50px 20px 20px 130px;
}

#progressBar{
  
  height:5px;
  background-color: #ffffff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width:0px;

 
}

#playButton{
  background-color: rgb(41, 214, 18);
  width: 40px;
  height: 40px;
  background-image: url(../img/circled-play.png);
  background-repeat: no-repeat;
  background-position: center;
  float:right;

}

#stopButton{
  background-color: rgb(41, 214, 18);
  border:none;
  height:40px;
  width:40px;
  background-repeat: no-repeat;
  background-position: center;
  float:right;
}
#playButton:active, #pauseButton:active{
  position:relative;
  top:2px;
}

#fullDuration{
  float:right;
  color:rgb(255, 255, 255);
  margin: 35px 250px 80px;
  padding:10px;
  
}

#currentTime{
  background: black;
  color:rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  margin: 30px 40px 20px 0px;
  width: 90px;
  height: 20px;
  padding:10px;
  text-align:center;
  
}